<ul class="topicul" *ngIf="topics">
  <li *ngFor="let x of topics">
    <span class="avator" title="{{x.author.loginname}}">
      <a routerLink="/user/{{x.author.loginname}}">
        <img src="{{x.author.avatar_url}}" alt="">
      </a>
    </span>
    <span class="count">
      {{x.reply_count || 0}}/{{x.visit_count || 0}}
    </span>
    <span class="tag highlight" *ngIf="x.top === true">置顶</span>
    <span class="tag highlight" *ngIf="x.top ===false && x.good === true">精华</span>
    <span class="tag" *ngIf="x.top ===false && x.good ===false && x.tab === 'share'">分享</span>
    <span class="tag" *ngIf="x.top ===false && x.good ===false && x.tab === 'ask'">问答</span>
    <span class="tag" *ngIf="x.top ===false && x.good ===false && x.tab === 'job'">招聘</span>
    <span class="title">
      <a routerLink="/topicontainer/{{x.id}}">
          {{x.title}}
      </a>
    </span>
    <span class="time">
      {{x.last_reply_at | time}}
    </span>
  </li>
</ul>
