<div class="panel panle-content topicDetail" *ngIf="topicDetail">
  <div class="header topic_header">
    <div class="topicTitle">
        <span class="tag highlight" *ngIf="topicDetail.top === true">置顶</span>
        <span class="tag highlight" *ngIf="topicDetail.top ===false && topicDetail.good === true">精华</span>
        <span class="tag" *ngIf="topicDetail.top ===false && topicDetail.good ===false && topicDetail.tab === 'share'">分享</span>
        <span class="tag" *ngIf="topicDetail.top ===false && topicDetail.good ===false && topicDetail.tab === 'ask'">问答</span>
        <span class="tag" *ngIf="topicDetail.top ===false && topicDetail.good ===false && topicDetail.tab === 'job'">招聘</span>
        <span>{{topicDetail.title}}</span>
    </div>
    <div class="headerDes">
      <span>发布于：{{topicDetail.create_at | time}}天前</span>
      <span *ngIf="topicDetail.author">作者：{{topicDetail.author.loginname}}</span>
      <span>{{topicDetail.visit_count}}次浏览</span>
      <span>最后一次编辑是{{topicDetail.last_reply_at}}</span>
      <span>来自 {{topicDetail.tab}}</span>
    </div>
  </div>
  <div class="topic_content" [innerHTML] = "topicDetail.content"></div>
</div>
